footer {
  background-color: #f9f9f9;
  margin-top: 4rem;
  padding: 4rem 0 6rem 0;
  text-align: center;

  .description {
    text-align: left;
  }

  img {
    width: 100%;
  }

  p {
    margin-bottom: 2.6rem;
  }
}

.cute-shit {
  color: #555;
  padding: 5rem 0;
  text-align: center;
}
