footer {
  background-color: #f9f9f9;
  padding: 4rem 0 6rem 0;
  text-align: center;

  .description {
    text-align: left;
  }

  img {
    width: 100%;
  }

  p {
    margin-bottom: 2.6rem;
  }

  .resource {
    display: inline-block;
    margin-bottom: 3rem;
    vertical-align: top;
    width: 24%;
  }

  @media screen and (max-width: 767px) {
    .resource {
      width: 48%;

      &:nth-child(2n) {
        margin-left: 1%;
      }
    }
  }
}

.cute-shit {
  color: #555;
  padding: 5rem 0;
  text-align: center;
}
