nav {
  @include shadow(1);
  background-color: #E1E3DD;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.dropdown {
  cursor: pointer;
  margin-right: 1rem;
  position: relative;

  &:nth-child(3) {
    margin-right: 2rem;
  }

  &:after {
    content: '▾';
  }

  &.active:before {
    border-bottom: 4rem solid white;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    content: ' ';
    left: 50%;
    height: 0;
    position: absolute;
    top: calc(100% + 0.4rem);
    transform: translateX(-50%);
    width: 0;
    z-index: 100;
  }
}

.radio-input {
  cursor: pointer;
  margin-right: 2rem;

  span {
    border: .3rem solid #555;
    display: inline-block;
    height: 1.5rem;
    margin-right: .6rem;
    position: relative;
    width: 1.5rem;

    &:after {
      background-color: #555;
      content: ' ';
      height: .65rem;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-60%, -50%);
      transition: opacity .3s ease-out;
      width: .65rem;
    }

    &.active {
      &:after {
        opacity: 1;
      }
    }
  }
}

div.districts,
div.activities,
div.waypoints {
  @include shadow(2);
  background-color: white;
  left: 50%;
  margin-top: 1rem;
  max-width: 116rem;
  overflow-y: scroll;
  padding: 2rem;
  position: absolute;
  top: 100%;
  transform: scale(1.01) translateX(-50%);
  width: 100%;
  z-index: 10;
}

div.districts,
div.activities {
  li {
    display: inline-block;
    width: 32%;

    &:not(:nth-of-type(3n+1)) {
      margin-left: 1.4%;
    }
  }

  figcaption {
    pointer-events: none;
  }
}
