nav {
  @include shadow(1);
  // padding: 4rem 0 0 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.dropdown {
  cursor: pointer;
  margin-right: 1rem;

  &:nth-child(3) {
    margin-right: 2rem;
  }

  &:after {
    content: '▾';
  }
}

.radio-input {
  margin-right: 1rem;
}

div.districts,
div.activities {
  @include shadow(2);
  background-color: white;
  left: 50%;
  margin-top: 1rem;
  max-width: 116rem;
  overflow-y: scroll;
  padding: 2rem;
  position: absolute;
  top: 100%;
  transform: scale(1.01) translateX(-50%);
  width: 100%;
  z-index: 10;

  li {
    display: inline-block;
    width: 32%;

    &:nth-of-type(3n) {
      margin-left: 1.4%;
    }
  }
}
