.filtered-things {
  margin-top: 3rem;

  span.activity,
  span.district {

    &.active {
      color: $accent;
      text-transform: capitalize;
    }
  }

  .reset {
    color: rgba(black, 0);
    cursor: pointer;
    font-size: 2rem;
    font-weight: lighter;
    transition: color .15s ease-out;
  }

  h4:hover .reset {
    color: rgba(black, .2);
  }

  img {
    filter: brightness(.7);
    height: 23rem;
  }

  article {
    margin: 0 auto;
    position: relative;
    width: 80%;

    &:before {
      background-color: $accent;
      content: ' ';
      height: 100%;
      left: -12.5%;
      position: absolute;
      top: 0;
      width: .5rem;
    }
  }

  .name {

    h5:first-of-type {
      margin-left: 1rem;
    }

    h5 {
      margin-right: .5rem;
    }

    > * {
      display: inline-block;
    }
  }
}

.thing {
  margin-bottom: 4rem;
}
