@include keyframes(expanded) {
  0%   {
    background-color: #CC3910;
    border-radius: 50%;
    display: none;
    height: 8rem;
    opacity: 0;
    visibility: hidden;
    width: 8rem;
  }
  1% {
    display: block;
    height: auto;
  }
  25% {
    background-color: white;
    border-radius: .2rem;
  }
  50% {
    opacity: 1;
    width: 70%;
  }
  100% {
    visibility: visible;
  }
}

.waypoints-wrapper {
  background-color: $accent;
  color: #f3f3f3;
  cursor: pointer;
  float: right;
  height: 9.5rem;
  max-width: 30rem;
  padding: 0 2rem;
  text-align: center;
  transform: scale(1);
  transition: transform .25s ease-in-out;
  // width: 8rem;
  z-index: 100;

  &.active {
    @include animation('expanded .5s ease-out');
    animation-fill-mode: forwards;
    background-color: white;
    border-radius: .2rem;
    height: auto;
    width: 70%;
  }

  &.pulse {
    transform: scale(1.1);
  }

  .icon {
    vertical-align: middle;
    width: 4rem;
  }

  ul {
    text-align: left;
  }

  .recommended {
    color: #808080;
  }

  .added,
  .recommended {

    span {
      float: right;
    }

    img {
      opacity: .2;
      transition: opacity .15s ease-out;
      width: 1.6rem;
    }

    li {
      margin-bottom: .7rem;

      &:hover {
        img {
          opacity: .5;
        }
      }
    }
  }

}

.waypoints {
  margin: 4rem auto;
  width: 80%;

  .wrapper div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 30%;

    &:not(:last-of-type):after {
      background-color: #eee;
      height: 100%;
      left: 100%;
      position: absolute;
      width: .3rem;
    }
  }

  img {
    width: 1.5rem;
  }

  li {
    width: 100%;

    span {
      cursor: pointer;
      float: right;
      opacity: 0;
      padding-right: 10%;
      transition: opacity .15s ease-out;
    }

    &:hover {
      span {
        opacity: .5;
      }
    }
  }
}
